.vscode/
__pycache__/
.DS_Store

VOCtest_06-Nov-2007/
VOCtrainval_06-Nov-2007/
VOC_YOLO/
adv_VOC_YOLO_eps_*/

predictions/
*/output/
detected_images/
predicted_bboxes/
runs/

.aux
.bbl
.bcf
.blg
.fdb_latexmk
.fls
.synctex.gz
.log
.nav
.out
.snm
.toc
.run.xml