.gitignore

Convex Optimization/Cours
Convex Optimization/Exams
Convex Optimization/HW/HW1b.pdf
Convex Optimization/HW/HW2.pdf
Convex Optimization/HW/HW3_LASSO.pdf

Deep Learning/class

Statistical Learning with Extreme Values/project/submission.zip